@page "/Presenter"
@page "/Presenter/{GameKey}"
@layout Layout.EmptyLayout
@inherits PresenterPageBase
@using Microsoft.AspNetCore.SignalR.Client
@using FeudingFamily.Logic

<PageTitle>FeudingFamily - Presenter</PageTitle>

<body>
  <div class="lights">
    <div class="light x1"></div>
    <div class="light x2"></div>
    <div class="light x3"></div>
    <div class="light x4"></div>
    <div class="light x5"></div>
    <div class="light x6"></div>
    <div class="light x7"></div>
    <div class="light x8"></div>
    <div class="light x9"></div>
  </div>
  <main>
    <dialog class="wrong-container" id="wrong-container"></dialog>
    <dialog class="buzzer-container" id="buzzer-container"></dialog>
    <div class="container">
      
      <div class="question">
        <h1 id="question">@(Game is not null ? Game.CurrentQuestion.Content : DefaultQuestion.Content)</h1>
      </div>

      <div class="answers" id="answers">

      @foreach (Answer answer in Game is not null ? Game.CurrentQuestion.Answers : DefaultQuestion.Answers)
      {
        <div class="answer" id="@answer.Ranking">
          <div class="answer-ranking">
            <p>@answer.Ranking</p>
          </div>
          <div class="answer-content">
            <p id="answer">@answer.Content</p>
          </div>
          <div class="answer-points">
            <p id="points">@answer.Points</p>
          </div>
        </div>
      }

      </div>
      <div class="timer-container left">
        <div class="timer" id="left_timer"></div>
      </div>
      <div class="timer-container right">
        <div class="timer" id="right_timer"></div>
      </div>
    </div>
  </main>
</body>
