@page "/Controller"
@page "/Controller/{gameKey}"
@inherits ControllerPageBase
@rendermode InteractiveServer

<PageTitle>Feuding Family - Controller</PageTitle>

<main>
    <ControllerQuestionPicker @bind-IsOpen="@IsQuestionPickerOpen" SetQuestion="SetQuestion"/>

    <ControllerQuestion Content="@Question.Content"
                        IsRevealed="@Round.IsQuestionRevealed"
                        OnClick="@RevealQuestion"
                        OnHold="@ShowQuestionPicker"/>

    <div class="answers" id="answers">
        @for (var i = 0; i < Question.Answers.Count; i++)
        {
            var answer = Question.Answers[i];

            <ControllerAnswer IsRevealed=Round.IsAnswerRevealed[i] Ranking=answer.Ranking Content=@answer.Content
                              Points=answer.Points OnClick="@(() => RevealAnswer(answer.Ranking))"/>
        }
    </div>

    <div class="stats">
        <span id="wrong-answers">❌ COUNT: @Round.WrongAnswers</span>
        <span id="buzzer-active">BUZZER: @(Round.IsBuzzersEnabled ? "✔️" : "❌")</span>
        <span id="round-points">POINTS: @Round.Points</span>
    </div>

    <div class="control-btns">
        <ControllerButton OnClick="NewRound">
            New Round
        </ControllerButton>

        <ControllerButton OnClick="SwapTeamPlaying">
            Swap Team
        </ControllerButton>

        <ControllerButton OnClick="EnableBuzzers">
            Buzzers On
        </ControllerButton>

        <ControllerButton OnClick="DisableBuzzers">
            Buzzers Off
        </ControllerButton>

        <ControllerButton TailwindStyle="bg-blue-300" OnClick="@(() => WrongAnswer(false))">
            Wrong Answer
        </ControllerButton>

        <ControllerButton TailwindStyle="col-span-0.5" OnClick="@(() => WrongAnswer(true))">
            Show Wrong Modal
        </ControllerButton>
    </div>


    <div class="team-display">
        @foreach (var team in Teams)
        {
            var roundWinner = Round.RoundWinner == team.Name;
            <ControllerTeamDisplay Team=team IsTeamPlaying=IsTeamPlaying[team] RoundWinner=roundWinner OnTeamKill=@(() => HandleTeamKill(team))/>
        }
    </div>

    <div class="sound-btns">
        <ControllerSoundButton OnClick=@(() => PlaySound("round-start"))>
            round-start
        </ControllerSoundButton>

        <ControllerSoundButton OnClick=@(() => PlaySound("round-end"))>
            round-end
        </ControllerSoundButton>

        <ControllerSoundButton OnClick=@(() => PlaySound("intro-music"))>
            intro-music
        </ControllerSoundButton>

        <ControllerSoundButton OnClick=@(() => PlaySound("timer-long"))>
            timer-long
        </ControllerSoundButton>

        <ControllerSoundButton OnClick=@(() => PlaySound("timer-short"))>
            timer-short
        </ControllerSoundButton>

        <ControllerSoundButton OnClick=@(() => PlaySound("hold-music"))>
            hold-music
        </ControllerSoundButton>

        <ControllerSoundButton OnClick=@(() => PlaySound("top-answer"))>
            top-answer
        </ControllerSoundButton>

        <ControllerSoundButton OnClick=@(() => PlaySound("correct-answer"))>
            correct-answer
        </ControllerSoundButton>

        <ControllerSoundButton OnClick=@(() => PlaySound("buzz-in"))>
            buzz-in
        </ControllerSoundButton>

        <ControllerSoundButton OnClick=@(() => PlaySound("laugh-track"))>
            laugh-track
        </ControllerSoundButton>

    </div>

    <div id="connection-status">@(IsGameConnected && IsHubConnected ? "✔️" : "❌")</div>
</main>